    body {
    background-color: rgb(63, 15, 75);
    text-align: center;
}
    h1{
    color: rgb(247, 247, 253);
    font: 100;
    font-weight: bold;
}
    h2{
    color: rgb(252, 4, 4);
}
   .container {
    background-color: rgb(12, 60, 77);
    padding: 20px;

}
   .box{
    background-color: hsl(0, 86%, 17%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(206, 17%, 28%);
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}
  